@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    margin: 0;
    padding: 0;
}
.center-text {
    width: 100%;
    text-align: center;
}
.center-text > span {
    width: 100%;
}
.pointer-options-checkbox {
    display: block;
}
.save-image-btn, mat-form-field.tooltip-form-item {
    display: block;
}
div.image-card-item {
    height: fit-content;
}
mat-card > mat-card-header > .mat-card-header-text > mat-card-title.image-title {
    font-size: 2vw;
    line-height: 3vmax;
    word-break: break-word;
}
.image-list-item:hover {
    cursor: pointer;
}